.gallery{
  .fa-long-arrow-alt-left{
    position: relative;
  }

  .fa-long-arrow-alt-left:after{
    content: '';
    display: block;
    position: absolute;
    left: 26px;
    top: -10px;
    bottom: 0;
    width: 1.5px;
    height: 40px;
    background-color: darkgrey;
  }

  &__item{
    //background-size: 140px 500px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  .active::before{
    background-color: rgba($color: grey, $alpha: .5);
    content: '';
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transition: all .4s 0s cubic-bezier(0.7, 0, 0.3, 1)
  }
  &__pictures{
    min-width: 100%;
    margin-top: 50px;

  }

  &__item--column-four{
    height: 500px;
   
  }
  &__item--more{
    z-index: 999;
  }
}