//h1 {
  //font-family: 'Lato', sans-serif;
  //font-weight: 800;
  //font-size: 60px;
  //text-transform: uppercase;
//}
$text-color-gray: darkgray;
$subheader-color: #7e818a;

body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


.btn{
  border-radius: 0.1em;
  font-family: 'Montserrat', sans-serif;
}
.btn:hover{
  border: none;
}

.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}
.btn-primary:hover{
  background-color: transparentize($primary, 0.2);
  border: none;
  border-color: transparent;
  outline: none;
}
.btn--small{
  padding: 0.3rem 1rem;
  font-size: .8rem; 
  font-weight: 600;
}

.btn--large{
  padding: 1rem 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 1.2px;
}


section{
  margin: 100px 0;
  //
  h6{
    //position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 15px;
    font-size: .9rem
    
  }
  .line{
    width: 50px;
    height: 3px;
    background-color: $primary;
    @include media-breakpoint-down(sm) {
      margin-left: -25px;
    @media screen  and (max-width: 570px){
      margin-left: 0px;
    }
 }
  }
}


