#community{
  padding: 6% 0;
  color: white;
  //background-color: #ff6a49;
  background: url("../img/beautiful.jpg"),$primary;
  background-size: cover;
  background-blend-mode: multiply;
  p{
    font-size: .8rem;
  }
  button{
    background: transparent;
    border: 2px solid transparentize(white, .7);
    color: white;
    
  }
}