.community{
  padding: 6% 0;
  color: white;
  //background-color: #ff6a49;
  background: url("../img/beautiful.jpg"),$primary;
  background-size: cover;
  background-blend-mode: multiply;
  @include media-breakpoint-down(sm) {
    padding-top: 15%;
  }

  p{
    font-size: .8rem;
  }
  h5{
    @include media-breakpoint-down(md) {
      font-size: .9rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
    }
  }

  &__link{
    color: white;
  }


  i{
    font-size: 2rem;
    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
  
  button{
    background: transparent;
    border: 2px solid transparentize(white, .7);
    color: white;
 
  @include media-breakpoint-down(sm) {
    font-size: .7rem;
    margin-bottom: 40px;
    margin-top: 0;

}
}
}
