header{
  background-color: $secondary;
  //background-image: linear-gradient(to right, $secondary, lightgrey),url('../img/bird.jpg');
  background-size: cover;
  background-image: url("../img/bird.jpg");
  background-position: center;
  background-blend-mode: multiply;
  position: relative;
  overflow: hidden;
  color: #fefffd;
  //color: white;
  min-height: 600px;

  .header__container{
    margin-top: -15px;
  }
  
  .logo-grace{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.3px;
    @include media-breakpoint-down(lg) { 
      font-size: 1.2rem;
      display: flex;
      align-self: center;
      }
    @include media-breakpoint-down(md) { 
        font-size: 1rem;
        }  
  }
  
  ul{
    font-size: .8rem;
    letter-spacing: 1px;
    box-sizing: border-box;
    @include media-breakpoint-down(lg) { 
      font-size: .6rem;
      margin: 0 25px;

      } 
      @include media-breakpoint-down(md) { 
        font-size: .6rem;
        margin: 0 30px;
  
        }   
    li{
      font-weight: 700;
      
      @include media-breakpoint-down(lg){ 
        font-size: .6rem;
        margin-right: -5px;
    }
  }
  a.active{
    //padding: 1px 14px;
    border: 1px solid #63718c;
    @include media-breakpoint-down(md) {
      border: none;
     }
  }
 
  li i{
    @include media-breakpoint-down(lg) {
      font-size: .6rem; 
     }
    }

  .btn-donate{
    letter-spacing: 1px;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -5px;
    @include media-breakpoint-down(lg) {
      font-size: .6rem;
      margin-right: -5px;
     }
  }
}

.address{
  font-weight: 600;
  padding-top: 20px;
  font-size: .8rem;
  letter-spacing: .7px;
  @include media-breakpoint-down(lg) {
    font-size: .6rem;
   }
  
  i{
    margin-top: 3px;
    margin-left: -8px;
    font-size: .7rem;
   
  }
}

.navbar-brand{
  position:relative;
  height: 27px;
  width: 18px;
  border: 2.5px solid #f5fafd;
  border-radius: 1px;
  //margin-bottom: 10px;
  &:after{
    content: "";
    position: absolute;
    top: -8px;
    left: 6px;
    background: #f5fafd;
    height: 26px;
    width: 3px;
  }
}

.hero{
  text-transform: uppercase;
  margin-top: 130px;
  position: relative;

  &__title{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 5.6vw;
    letter-spacing: 6px;
    @include media-breakpoint-down(md) {
      font-size: 3.2rem;
     }
     @include media-breakpoint-down(sm) {
      font-size: 2.2rem;
     } 
     @media screen and (max-width: 360px) {
      font-size: 1.7rem;
     }
    } 
  &__pretitle{
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    letter-spacing: 1px;
    @include media-breakpoint-down(md) {
      font-size: .8rem;
      font-weight: 600;
    }
  }
  &__subtitle{
    font-weight: 600;
    text-transform: none;
    margin-bottom: 60px;
    margin-top: 20px;
    letter-spacing: 1.1px;
    font-size: 1.7rem;
    @include media-breakpoint-down(md) {
      font-size: 1.4rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.1rem;
      margin-bottom: 80px;
      margin-top: 10px;
      font-weight: 500;


    }
  }
  &__button{
    margin-bottom: 60px;
    font-weight: 600;
    @include media-breakpoint-down(md) {
     padding: .7rem 1.7rem;
     font-size: .7rem;

    }
    
  }
  &:before{
    content: "";
    display: block;
    position: absolute;

  }
}


.arrows i.fa-long-arrow-alt-left{
  position: absolute;
  top: 20%;
  left: 50px;
  border: 1px solid #63718c;
  padding: 20px;
  @include media-breakpoint-down(md) {
    font-size: .7rem;
    padding: 10px;
   }
}

.arrows i.fa-long-arrow-alt-right{
  position: absolute;
  top: 20%;
  right: 50px;
  border: 1px solid #63718c;
  padding: 20px;
  @include media-breakpoint-down(md) {
    font-size: .7rem;
    padding: 10px;
  }
}

.dots{
  margin-bottom: 15px;
  span{
    background-color: white;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 8px 8px 50px 8px;
    
  }
}
span.active{
  box-shadow: 0px 0px 5px 3px rgba(212,200,212,1);
}

.fluid-subheader{
  text-transform: none;
  background-color: $subheader-color;
  
  .subheader{
    padding-top: 25px;
    padding-bottom: 15px;
    @include media-breakpoint-down(md) {
      font-size: .7rem;
    }

  &__row{
    flex-wrap: nowrap;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  
  &__column--second{
    @include media-breakpoint-down(md) {
      //justify-content: center;
      //align-items: center;
      //padding-top: 15px;
      margin-right: 20px;
     }
     @include media-breakpoint-down(sm) {
      margin-right: 0;
      padding-top: 10px;
    }
  }

  &__column--third {
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      padding-top: 10px; 
}
.break{
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
}
  @include media-breakpoint-down(lg) {
  display: none;
}
}
}
  &__column--fourth{
    @include media-breakpoint-down(md) {
      //justify-content: center;
      //align-items: center;
      //padding: 15px 0;
      margin-right: 30px;
     }
     @include media-breakpoint-down(sm) {
      margin-right: 0;
      padding-top: 10px;
    } 
  }
  &__column--fifth{
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      padding-top: 10px;
  }
}
  
  h6{
      font-size: 1rem;
      @include media-breakpoint-down(md) {
        font-size: .8rem;
      }
    }
  &__date{
    @include media-breakpoint-down(lg) { 
      flex-wrap: nowrap;
      display: flex;
      padding: 11px 9px;
     }
     @include media-breakpoint-down(md) { 
      margin-left: -30px;
     }
     
  }

  &__date span:first-child{
    font-size: 1.7rem;
    font-weight: 600;
    display: inline-block;
    @include media-breakpoint-down(md) {
      font-size: 1.1rem;
    }
  }
  &__date span:nth-child(2){
   font-size: .8rem;
   padding-bottom: 8px;
   padding-top: 0;
   margin-top: -6px;
   @include media-breakpoint-down(md) {
    font-size: .7rem;
  }
}
  &__time{
    color: $text-color-gray;
  }
  .fa-clock{
    margin-right: 10px;
    font-size: .8rem;
  }

  &__address{
    position: relative;
    
  }

  &__address::before{
    content: '';
    display: block;
    position: absolute;
    left: -55px;
    width: 1.5px;
    height: 67px;
    background-color: darkgrey;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .fa-map-marker-alt{
    font-size: .8rem;
  }

  &__address p{
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: .3rem;
  }
  &__address h6{
    font-size: .8rem;
  }

  button{
    background: transparent;
    border: 2px solid darkgray;
    font-size: .8rem;
    padding: 17px 35px;
    margin-left: -70px;
    letter-spacing: .9px;
    @include media-breakpoint-down(lg) {
      font-size: .6rem;
      margin-left: 22px;
    }
    @include media-breakpoint-down(md) {
      font-size: .6rem;
      margin-left: 2px;
    }
    @media screen and (max-width: 390px) {
      padding: 7px 15px;
      font-size: .5rem;
     }
  }
  button:hover{
    background: transparentize(darkgrey, 0.7);
    outline: none;
  }

   
  .fa-long-arrow-alt-left{
    position: relative;
  }

  .fa-long-arrow-alt-left:after{
    content: '';
    display: block;
    position: absolute;
    left: 26px;
    top: -10px;
    bottom: 0;
    width: 1.5px;
    height: 40px;
    background-color: darkgrey;
    @include media-breakpoint-down(lg) {
      left: 22px;
    }
    @media screen and (max-width: 360px) {
      height: 30px;
     }
    
  }
  
  
}
}
}
