section#pastor{
  margin-bottom: 0;
}
.fluid-pastor{
  background: url("../img/bible-reading.jpeg");
  background-size: cover;
  //opacity: .9;
  padding: 100px 0;
  
  color: white;

  .pastor{
   display: flex;
   
   @include media-breakpoint-down(md) {
    flex-direction: column;
   }

   &__row--pastor-img{
     //flex-direction: row;
    @include media-breakpoint-down(md) {
      justify-content: center;
      align-items: center;
      margin-bottom: 70px;
      //flex-direction: column;
   }
  }
  h6{
    padding-bottom: 40px;
    margin-left: 40px;
  }
  .line{
    background-color: white; 
    //margin-right: 80px;

  }
  h2{
    //position: relative;
    font-size: 2.2rem;
    padding-bottom: 25px;
    padding-left: 10px;
    i{
      font-size: .9rem;
    }

    @include media-breakpoint-down(lg) {
      font-size: 1.9rem;
      margin-left: 35px;
    }
    @include media-breakpoint-down(md) {
      font-size: 2rem;
      //margin-left: 20px;
      //margin-top: 15px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      //margin-left: 20px;
      //margin-top: 15px;
    }
  }
  h2:before{
    content: open-quote;
  
  }
  h2:after{
    content: close-quote;
   
  }
  .break{
    @include media-breakpoint-down(md) {
      display: none;
  }
}

 img{
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

 }
  cite{
    padding-left: 10px;
    @include media-breakpoint-down(lg) {
      margin-left: 35px;
    }
    @include media-breakpoint-down(md) {
    //font-size: .rem;
    margin-top: 0;
    margin-left: 20px;
  }
}

  &__podcast{
    
  
    
    i{
    border: 1px solid white;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    }
    .fa-play__first{
      border:none;
      padding:17px;
    }
    h5{
      font-weight: 700;
      font-size: .97rem;

    }
    .progress{
      width: 100%;
      height: 6px;
      margin-right: 10px;
      margin-top: 10px;
      border-radius: 0;
      margin-bottom: 10px;
      background: transparentize(white, 0.9);
    }
    hr{
      background: transparentize(white, 0.7);
      height: 1px;
      width: 350px;
      margin-top: -5px;
    }
  
    .podcast__time{
      font-weight: 600;
      font-size: .8rem;
    }
    span{
      font-size: .7rem;
      font-weight: 600;
      margin-top: 5px;
      //display: block;
    }
    
    .break{
      display: none;
      @media screen and (max-width: 650px){
        .break{
          display: block;
        }
       }
    }
  }
}
}



