.welcome{
  
  h6{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 15px; 
  }
  
  h2{
    font-weight: 600;
    padding-bottom: 40px;
 }
 p{
   color: $text-color-gray;
   padding-bottom: 30px;
 }
 
}