// Variable Overrides 

$theme-colors: (
  "primary":  #ff6a49,
  "secondary": #777988
  );

$primary: #ff6a49; 


// Style anchor elements overrides.

$link-color:                $primary;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none;
$btn-transition:            none;



//Bootstrap sass files
@import "node_modules/bootstrap/scss/bootstrap";

//@import "node_modules/bootstrap/scss/dropdown";
//@import "node_modules/bootstrap/scss/mixins";
//@import "node_modules/bootstrap/scss/bootstrap-grid";
//@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/nav";
//@import "node_modules/bootstrap/scss/navbar";
//@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/variables";
//@import "node_modules/bootstrap/scss/utilities";
//@import "node_modules/bootstrap/scss/reboot";



//Sass Partials
@import "base";
@import "header";
@import "welcome";
@import "community";
@import "gallery";
@import "events";
@import "blog";
@import "pastor";
@import "contact";
@import "footer";





